*
  box-sizing: border-box

body
  background: #fff
  font-family: 'Oswald', sans-serif

header .redes-sociales
  background: #020225
  width: 100%
  align-items: center

header .redes-sociales .contenedor
  display: flex

header .redes-sociales a
  color: #fff
  text-align: center
  width: 30px
  display: block
  padding: 5px
  margin: 7px 13px
  font-size: 16px

div .redes
  background: #30304c
  border-radius: 3px

header .redes-sociales .facebook:hover
  background: #3b5998
  border-radius: 3px

header .redes-sociales .maps:hover
  background: #bbdaa4
  border-radius: 3px

header .redes-sociales .diosecis:hover
  background: #f7931e
  border-radius: 3px

header .redes-sociales .colegio:hover
  background: #cc3333
  border-radius: 3px

header .texto
  color: #000
  font-family: 'Oswald'
  text-align: center

header h3
  margin: 20px 0 5px 0

header h1
  margin: 5px 0px 10px 0
// ----------------------------------------
.main
  width: 65%
  max-width: 1000px
  background: rgba(2, 2, 37, 0.91)
  float: left
  display: inline-block
  overflow: hidden
  height: 400px

section .slides-cont
  display: flex
  justify-content: center
  align-content: center
  width: 100%

.slides
  display: none

section .slides-cont img
  position: absolute
  width: 65%
  float: left
  overflow: hidden
  height: 452px


section .slides-cont .descripcion a
  margin: 150px 0
  border: 3px solid rgba(255, 255, 255, 0.5)
  border-radius: 4px
  display: inline-block
  text-align: center
  padding: 30px
  text-decoration: none
  color: #fff
  font-size: 30px
  font-style: bold
  font-family: 'Roboto Condensed', bold 700
  position: relative

aside
  width: 35%
  float: left
  overflow: hidden
  display: inline-block


aside div
  padding: 8px
  text-align: center
  font-family: 'Roboto Condensed', sans-serif

aside .eucaristias
  background: #524f61
  color: #f1dede

aside .eucaristias p
  line-height: .6

div .texto-titulos-h3
  letter-spacing: 3px
  font-family: 'Roboto Condensed', bold 700

aside .despacho
  background: #6e3bbf
  color: #010101

aside .despacho p
  line-height: .6
// --------------------------------------
section .contenidos
  background: rgba(#19124f, 0.41)
  padding: 60px 0

.conenidos .contenedor
  overflow: hidden

.contenidos .contenedor-contenido
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

.contenidos .contenedor-contenido .contenido
  width: 23%
  margin-bottom: 40px

.contenidos .contenedor-contenido .contenido .thumb
  width: 100%
  margin-bottom: 10px

.contenidos .contenedor-contenido .contenido .thumb img
  width: 100%
  vertical-align: top
  border-radius: 100px

.contenidos .contenedor-contenido .contenido .descripcion
  text-align: center

.contenidos .contenedor-contenido .contenido .descripcion .nombre
  font-weight: 700
  color: rgb(60, 62, 83)






// -------------------------------------------
@media screen and (max-width: 800px)
  .main
    width: 100%

  section .slides-cont img
    width: 100%
    height: 400px


  aside
    width: 100%
