/*--- encabezado ---*/

header .redes-sociales
  background: #020225
  width: 100%
  align-items: center

header .redes-sociales .contenedor
  display: flex

header .redes-sociales a
  color: #fff
  text-align: center
  width: 30px
  display: block
  padding: 5px
  margin: 7px 13px
  font-size: 16px

div .redes
  background: #30304c
  border-radius: 3px

header .redes-sociales .facebook:hover
  background: #3b5998
  border-radius: 3px

header .redes-sociales .maps:hover
  background: #bbdaa4
  border-radius: 3px

header .redes-sociales .diosecis:hover
  background: #f7931e
  border-radius: 3px

header .redes-sociales .colegio:hover
  background: #cc3333
  border-radius: 3px

header .texto
  color: #000
  font-family: 'Oswald'
  text-align: center

header h3
  margin: 20px 0 5px 0

header h1
  margin: 5px 0px 10px 0
